html, body {
    margin: 0;
    padding: 0;
    background-color: #fff6e0;
    font-family: 'Roboto', sans-serif;
}

li, a {
    color: #fff6e0;
    text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
a:focus {
    color: #fff6e0;
    font-weight: 700;
    transition: .2s linear;
}
#menu, label:before, label:after {
    content: " ";
    position: absolute;
    left: 100px;
    width: 40px;
    height: 5px;
    background-color: #09412f;
    border-radius: 2px;
    transition: .5s ease;
}

label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
}
label:before { top: 50px; }
label:after { top: 70px; }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 1;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + label:before {
    top: 60px;
    left: 50px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + label:after {
    top: 60px;
    left: 50px;
    transform: rotate(45deg);
}
#menu-toggle:checked + label + #menu {
    top: 44px;
    width: 120px;
    height: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
    border-radius: 10px;
}
#menu-toggle:checked + label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}





/* Code for fixed media with scrolling text over */
.Block {
    background-color: #222;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .Block-media {
    height: 100%;
    left: 0;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .Block-media.is-fixed {
    clip: rect(0, auto, auto, 0);
    max-height: none;
  }
  .Block-media > * {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .Block-content {
    display: flex;
    flex-direction: column;
    /* Set where the text should be placed in its container */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* Set max width for text over media */
    max-width: 80%;
    /* Adjust to set the distance between text slides */
    min-height: 80vh;
    position: relative;
    text-align: center;
    width: calc(100% - 1.875rem);
    z-index: 1;
  }
  
  .Media video,
  .Media img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 100%;
  }
  
  /* Text styles for overlay text */
  .h3forside {
    color: #E2A107;
    font-size: 6em;
    line-height: 1.1;
    /* Adjust to set distance from title to next text slide */
    margin-top: 70vh;
    text-align: center;
  }
  
  #sidsteh3{
    padding-bottom:8em;
  }
  
  #førsteh3{
    margin-top: 40vh;
  }









  /* Content test */

  .home-about-wrap{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.home-about-c1 {
    width: 50%;
    padding: 0vw 12vw 0vw 8vw;
}

.home-about-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .35rem;
}

.home-about-body {
    color: #09412f;
    font-size: 1.25rem;
}

.home-about-c2 {
    width: 50%;
    padding: 0vw 8vw 0vw 50vw;
    margin-top: 10rem;
    margin-bottom: 10rem;
}



/* Merete video */




/* Progress bar */
.positioned {
  position:absolute;
  left:50%;
  color:white;
  font-size:3em;
  font-family:'Montserrat', sans-serif;text-align:center;
}
.positioned i {font-size:2em;}
#centered {top:10%;transform:translate(-50%, 0)}
#bottom {transform:translate(-50%, -100%)}
/* Progress bar style */
.progress {
  background: linear-gradient(to right,rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50vw, rgba(252,176,69,1) 100vw); 
  /* pre-set background gradient */
  background-repeat: no-repeat;
  position: fixed;
  width: var(--scroll); /* Variable width based on scroll position */
  top:0;
  left:0;
  height: 16px;
  z-index: 1;
}


